body {
    font-family: Arial, sans-serif;
    font-size: 26px;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden auto;
}

/* Main container styling */
.container {
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #f78e5a;
    margin-bottom: 20px;
}

h2 {
    color: #89e86c;
    margin-bottom: 30px;
}
.header-section{
    height: 40vh;
    width: 100vw;
    background-image: url('./robots.jpg'); /* הוספת תמונה לרקע */
    background-size: 1200px; /* מתאם את התמונה לגובה ורוחב של הקטע */
    background-position: top; /* ממקם את התמונה  */
}

.section-title {
    color: #f6656b;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f78e5a;
    display: inline-block;
    padding-bottom: 5px;
}

.text-content {
    line-height: 1.6;
    margin-bottom: 30px;
    color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #ffffff;
}



.cta-button {
    display: inline-block;
    background: linear-gradient(90deg, #89e86c, #f6656b, #f78e5a);
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #f6656b;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.2rem; }
    .section-title { font-size: 1.5rem; }
}

.card {
    width: 300px;
    height: 200px;
    border: 2px solid #91e76f;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: #111111;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card-content a {
    position: absolute;
    bottom: 20px;
}


.card-title {
    color: #f78e5a;
    font-size: 1.4rem;
    transition: opacity 0.3s ease;
    position: absolute;
}

.card-description {
    color: #cccccc;
    font-size: 1rem;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 0 10px;
}

.card:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #89e86c, #f6656b, #f78e5a);
    color: #ffffff;
}

.card:hover .card-title {
    opacity: 0;
}

.card:hover .card-description {
    opacity: 1;
}

.card-1 {
    width: 40%;
    height: 150px;
    border: 2px solid #91e76f;
    border-radius: 8px;
    margin: 10px 0;
    transition: transform 0.3s ease, background 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 30px;
}

.card-1:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #89e86c, #f6656b, #f78e5a);
    color: #000000;
}

.cta-button {
    display: inline-block;
    background-color: #89e86c;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #f6656b;
    transform: scale(1.05);
}


/* Hidden, exists for Google */
.caption {
color: #000000; 
font-size: 2px; 
}

/* SVG styling */
.icon-container {
width: 64px;
height: 64px;
display: inline-block;
animation: bounce 2s ease-in-out infinite;;
}

/* SVG animation settings */
@keyframes bounce {
0%, 100% { 
transform: translateY(0); /* Initial and final state - in the original position */
}
50% { 
transform: translateY(-10px); /* Mid-animation - moves upwards */
}
}

@media (max-width: 600px) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.2rem; }
    .section-title { font-size: 1.5rem; }
}


/* Typing container - typing and deleting animation */
.typewriter-container {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    text-align: right;
    direction: rtl;
    color: #f3ba24;
    font-size: 3rem;
}


.static-text {
    margin-left: 15px;
}

.dynamic-text {
    display: inline-block;
    width: 360px; /* Set width according to the longest text */
    white-space: nowrap;
    overflow: hidden;
}

/* Cursor blinking effect */
@keyframes caret-blink {
    50% {
        opacity: 0;
    }
}


.small{
    font-size: 11px;
    color: #000000;
margin: 0px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    width: 100%;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #f78e5a;
}

/* Mobile menu toggle button */
.menu-toggle {
    
    display: none;
}

/* Mobile adaptation: the menu is hidden and displayed on click */
@media (max-width: 640px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #333;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        border-radius: 8px;
        width: 150px;
        margin: auto;
        height: fit-content;
        z-index: 1000; 
    }

    .menu-toggle {
        display: inline; 
    }

    .navbar ul.active {
        display: flex; /* Displaying the menu on click */
    }
}

.menu a {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.menu-icon {
    color: #91e76f;
    font-weight: bold;
}

  @media (max-width: 640px) {
            h1 { font-size: 1.5rem; }
            h2 { font-size: 1.2rem; }
            .section-title { font-size: 1.2rem; }
            .card-1 {
                width: 75vw;
                margin: 25px;
            }
            .container {
                max-width: 80vw;
               
    }
    .typewriter-container{
        display: block;
    }

    
    .menu {
        position: fixed;  /* Fixed menu on small screens */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: #000000;
        z-index: 1000;
        display: none; /* Hiding the menu until opened */
    }

    .menu.show {
        display: flex; /* Displaying the menu */
    }

   
/* Mobile menu toggle button */
.menu-toggle {
    
    display: inline-block;
    padding: 10px; /* Larger clickable area */
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
    .close-btn {
        display: block;
        text-align: right;
        padding: 15px;
        font-size: 1.5rem;
        color: #ffffff;
    
}
  }

/* Close button "X" */
.close-btn {
    display: none; /* Hiding the button on larger screens */
}